@charset "utf-8";
/* CSS Document */

#body{
	background: -webkit-radial-gradient(circle, #FFCC99, #FF8F1F);
	background: -moz-radial-gradient(circle, #FFCC99, #FF8F1F);
}

#header{
	border-style:solid;
	border-width:5px;
	clear:both;
}

#nav{
	border-style:solid;
	border-width:5px;
	clear:both;
}

li{
	display:inline;
}

#container{
	margin-left:15%;
	margin-right:15%;
	background: #FFFFFF;
    overflow: hidden;
}

#blog{
	border-style:solid;
	border-width:5px;
}

#right-nav{
	border-style:solid;
	border-width:5px;
	float: right;
}



#footer{
	clear:both;
}
